<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Compare Weather</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
    <div>
        <h1>Compare the Weather in different towns</h1>
        <div id="app">
        </div>
    </div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
